PORT=8080
# se estiver rodando em dev
DATABASE_URL=postgresql://postgres:senha@localhost:5432/auth?sslmode=disable
# se estiver rodando em produção
# DATABASE_URL=postgresql://postgres:senha@db:5432/auth?sslmode=disable
ENV=development
JWT_SECRET=sua-chave-secreta

SMTP_HOST=seu-servidor-smtp
SMTP_PORT=sua-porta-smtp
SMTP_USERNAME=seu-usuario-smtp
SMTP_PASSWORD=sua-senha-smtp
SMTP_FROM=seu-email-de-remetente